body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

h1,
h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

p {
	color: #8f8f8f;
}

/* Navbar */
.navbar {
	padding: 0 0 4.5rem 0;
}
.navbar-brand {
	font-family: "Ubuntu", sans-serif;
	font-size: 2.2rem;
	font-weight: bold;
}
.nav-item {
	padding: 0 1rem;
}
.nav-link {
	font-weight: 600;
	font-size: 1.2rem;
}

/* download buttons */
.download-btn {
	margin: 5% 3% 5% 0;
}

/* title */
.big-heading {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 1.5;
	text-align: left;
}
.iphone {
	width: 60%;
	transform: rotate(25deg);
	margin-bottom: -42%;
}
.title-container {
	padding: 3% 15%;
}
#title {
	background-color: #4c8bff;
	color: #fff;
	overflow: hidden;
}

/* features */
#features {
	padding: 7% 15%;
}
.features-heading {
	font-weight: 700;
	font-size: 1.5rem;
}
.feature-box {
	padding: 4%;
}
.icon {
	color: #4c8bff;
	padding-bottom: 8%;
}
.icon:hover {
	color: #3d6eca;
}

/* testimonial */
#testimonials {
	background-color: #4374ce;
	color: #fff;
}
.testimonials-img {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}
.testimonials-text {
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.5;
}
.carousel-inner {
	padding: 7% 15%;
}

/* press */
#press {
	background-color: #4374ce;
	padding-bottom: 3%;
}
.press-img {
	width: 15%;
	margin: 20px 20px 50px;
}

/* pricing */

.pricing-heading {
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.5;
}

/* pricing cards */
.card {
	height: 100%;
}
.card-footer {
	padding: 0.5rem 1rem 2rem;
	background-color: #fff;
	border: none;
}
#pricing {
	padding: 100px;
}
.pricing-col {
	padding: 3% 2%;
}

/* cta */
#cta {
	background-color: #4c8bff;
	padding: 100px;
}
.cta-heading {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	font-size: 3.5rem;
	color: #fff;
	line-height: 5rem;
}

/* footer */
#footer {
	padding: 25px;
}
.footer-icon {
	padding: 30px 8px;
}

@media (max-width: 1028px) {
	.iphone {
		transform: rotate(0deg);
		margin-bottom: 0%;
	}
	#title {
		text-align: center;
	}
}
